body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: center;
}

.skills-table th {
  border-collapse: collapse;
  text-align: left;
  padding-right: 10px;
  /* border-right: 1px solid black; */
}
.skills-table tr {
    border: none;
}
.skills-table td {
    text-align: left;
    padding-left: 10px;
}

.skills-table {
  margin-top: 0px;
  padding-left: 10px;
  /* border: 1px solid black; */
}

.jobline1 {
    display: flex;
    margin-bottom: 0px;
}
.linediv {
    flex: 1;
    padding: 0 10px;
}
.betweenline {
    height: 50%;
    border-bottom: 1px solid lightgray;
    border: none;
}

.entry {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
  /* border: 1px solid red; */
  border-radius: 10px;
  /* padding: 10px; */
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); */
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-variant: small-caps;
  /* font-variant-caps: all-petite-caps; */
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 3px;
  padding-left: 10px;
  box-shadow: 2px 2px 0px 1px rgba(150, 150, 150, 0.35);
}

ul {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 25px;
  margin-top: 3px;
  margin-bottom: 0px;
  /* border: 1px solid black; */
}

.name h1 {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.name span {
  margin-left: 5px;
  margin-right: 5px;
}
.name {
  text-align: center;
  margin-bottom: 10px;
}

hr {
  margin-top: 0px;
  margin-bottom: 5px;
}

.date {
  font-style: italic;
}

a {
  color: gray;
}
