/*
    General Fonts
*/

body {
    font-family: "Open Sans", sans-serif;
    font-size: 12 pt;
    color: #000000;
    background: #eeeeee;
}

h1 {
    font-family: 'Jockey One', sans-serif;
    color: #000000;
}

svg {
    width: 50%;
    height: 50%;
}

/* OTH */

.lightText {
    color: #FFFFFF;
}

.banner {
    position: relative;
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.alphacoders.com%2F100%2F1006753.png&f=1&nofb=1);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    padding-left: 0%
}

.buttonbox {
    width: 50%;
    height: 30%;
    background:#EEEEEE;
    border-radius: 1.5em;
    box-shadow: 12px 12px 12px 0 rgba(0,0,0,0.3), -12px -12px 12px 0 rgba(255,255,255,100);
    box-shadow: -12px -12px 12 0 rgba(255,255,255,100);
}



